<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>


  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "org.example.emfgmf.topicmap.presentation.TopicmapModelWizardID"
      name = "%_UI_TopicmapModelWizard_label"
      class = "org.example.emfgmf.topicmap.presentation.TopicmapModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/TopicmapModelFile.gif">
      <description>%_UI_TopicmapModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "org.example.emfgmf.topicmap.presentation.TopicmapEditorID"
        name = "%_UI_TopicmapEditor_label"
        icon = "icons/full/obj16/TopicmapModelFile.gif"
        extensions = "topicmap"
        class = "org.example.emfgmf.topicmap.presentation.TopicmapEditor" 
        contributorClass="org.example.emfgmf.topicmap.presentation.TopicmapMultipageActionBarContributor" >
    </editor>
  </extension>    
</plugin>
