<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension 
	  point="org.eclipse.wst.xml.core.catalogContributions"> 
	  <catalogContribution 
	  id="simgrideclipse.catalog"> 
	  <public 
		  publicId="http://simgrid.gforge.inria.fr/simgrid.dtd" 
		  uri="xsd/simgrid.xsd"> 
	  </public> 
	  </catalogContribution> 
   </extension> 
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="simgrideclipseplugin.editors.MultiPageSimgridEditor"
            contributorClass="simgrideclipseplugin.editors.MultiPageSimgridEditorContributor"
            extensions="xml"
            icon="icons/SGicon16x16.gif"
            id="simgrideclipseplugin.editors.MultiPageXMLEditor"
            name="Simgrid Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="SimGrid"
            id="simgridEclipsePlugin">
      </category>
      <wizard
            name="SimGrid Platform Description File"
            icon="icons/SGicon16x16.gif"
            category="simgridEclipsePlugin"
            class="simgrideclipseplugin.wizards.SimgridPlatformWizard"
            id="simgrideclipseplugin.wizards.SimgridPlatformWizard">
      </wizard>
      <wizard
            name="SimGrid MSG Project"
            icon="icons/SGicon16x16.gif"
            category="simgridEclipsePlugin"
            class="simgrideclipseplugin.wizards.SimgridProjectWizard"
            id="simgrideclipseplugin.wizards.SimgridProjectWizard"
            project="true"
            hasPages="true">
      </wizard>
      <wizard
            name="SimGrid Deployment File"
            icon="icons/SGicon16x16.gif"
            category="simgridEclipsePlugin"
            class="simgrideclipseplugin.wizards.SimgridDeploymentWizard"
            id="simgrideclipseplugin.wizards.SimgridDeploymentWizard">
      </wizard>
   </extension>

</plugin>
